  <h1>Create a New Post!</h1>
  <form class="" action="/posts"s method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" value=""><br>
    <label for="content">Content:</label>
    <input type="textarea" name="content" value=""><br>
    <label for="image_url">Image URL:</label>
    <input type="text" name="image_url" value=""><br>
    <input type="submit" name="" value="Create Post">

  </form>

