<div class="container">
  <h1>Welcome to Wanderly!</h1>
  <p><em>Don't adventures ever have an end? I suppose not. Someone else always has to carry on the story.</em></p>

<img src="https://images.pexels.com/photos/1051075/pexels-photo-1051075.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="400" width="400"><br>

  <a href="/login" class="button">Log In</a> OR  <a href="/signup" class="button">Sign Up</a>
</div>
